<div class="container text-center">
    <div class="list-group">
        <a class="list-group-item list-group-item-action" [routerLink]="['/']" routerLinkActive="router-link-active" >Inicio</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/owners']" routerLinkActive="router-link-active" >Owners</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/veterinarios']" routerLinkActive="router-link-active" >Veterinarios</a>
    </div>
</div>
<router-outlet></router-outlet>