<!-- INSERTAR CÓDIGO NECESARIO PARA USAR LA PLANTILLA -->
{% extends 'master.html' %},

{% block metadatos %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Examen HLC DJANGO - Ciudades de un país">
    <meta name="author" content="">

{% endblock %}


{% block contenidos %}

    <!-- Contenido -->
    <div class="container">
        <div class="row">
            <!-- Entradas  -->
            <div class="col-md-8">
                <h1 class="my-4">

                    <!-- INSERTAR CÓDIGO PARA MOSTRAR EL NOMBRE DEL PAÍS DEL QUE VAMOS A MOSTRAR LAS CIUDADES -->
                    {{pais.nombre}}
                </h1>
                {% for ciudad in ciudades %}
            
                <!-- INSERTAR CÓDIGO PARA MOSTRAR EL LISTADO DE CIUDADES DEL PAÍS SELECCIONADO -->
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ciudad.foto.url}}" alt="{{ ciudad.nombre }}">
                    <div class="card-body">
                        <h2 class="card-title">{{ ciudad.nombre }}</h2>
                        <p class="card-text">{{ciudad.description|striptags|truncatewords_html:50 }}</p>
                    </div>
                </div>
                {% endfor %}  
            </div>


             <!-- INSERTAR CÓDIGO PARA MOSTRAR EL PANEL LATERAL CON EL FORMULARIO Y LISTADO DE PAÍSES -->
             {% include 'viaje/lateral.html' %}
            
        </div>
    </div>

{% endblock %}