<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css">
    <script src="webjars/jquery/dist/jquery.min.js"></script>
    <script src="webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    
    <h1 th:text="pendejo">Pag de inicio</h1>
	<p class="btn">Hola Mundo!</p>
</body>
</html>