<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Starter Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/starter-template.css" rel="stylesheet">
<style>
    .container{
        margin-top:70px;
    }
</style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/producto/new">Nuevo Producto</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Detalles del producto</h1>

        <p>Nombre : <span th:text="${prodcutoDetalle.nombre}"></span></p>
        <p>Descripcion : <span th:text="${prodcutoDetalle.descripcion}"></span></p>
        <p>Precio : <span th:text="${prodcutoDetalle.precio}"></span></p>
        <p>Unidades : <span th:text="${prodcutoDetalle.unidades}"></span></p>
        <img alt="Avatar" th:src="@{*{prodcutoDetalle.imagen} ? *{prodcutoDetalle.imagen} : '/images/icon_placeholder.png'}" width="64px" />


        <form th:action="@{/producto/{id}/comprar(id=${prodcutoDetalle.id})}" method="post">
            <button class="btn btn-primary" th:disabled="${#authorization.expression('!hasRole(''USER'')')}">Comprar</button>
        </form>
        <form sec:authorize="hasRole('GESTOR')" th:action="@{/producto/borrar/{id}(id=${prodcutoDetalle.id})}" method="post">
            <button  class="btn btn-danger" th:disabled="${#authorization.expression('!hasRole(''GESTOR'')')}">Eliminar</button>
        </form>


    </div>

</div>

</body>
</html>