body{
    margin:0;
    padding: 0;
    height: 100vh;
    text-align: center;
    text-shadow: 2px -2px 2px rgba(0,0,0,0.49);
}

ul{
    display: flex;
}

li{
    list-style: none;
}

label{cursor: pointer;}

input[type="radio"]{
    appearance: none;
}

section{
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#menu1:checked ~ #men1{
    background: black;
}
#menu2:checked ~ #men2{
    background: yellow;
}
#menu3:checked ~ #men3{
    background: black;
}